:root {
  box-sizing: border-box;
}

:root.dark {
  --scheme-color-1: #121212; /* main background color */
  --color-odd: #343843bb; /* odd background color */
  --color-odd-hover: #475f7ebb; /* odd hover background color */
  --color-odd-active: #40618daa; /* even active background color */
  --color-even: #8e4c43bb; /* even background color */
  --color-even-hover: #996052bb; /* even hover background color */
  --color-even-active: #b16d53aa; /* even active background color */
  --scheme-color-5: #dacfc3; /* header text color */
  --scheme-color-6: #f6f5f1cb; /* card text color */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  margin: 0;
  background-color: var(--scheme-color-1);
  color: var(--scheme-color-5);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "roboto", sans-serif;
}

header {
  padding: 12px;
  width: 100%;
  background-color: #242424;
}

header h1 {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin: 8px;
}

.content {
  padding: 12px;
  max-width: 1000px;
}

h2 {
  font-size: 1.3rem;
}
a {
  text-decoration: none;
}
.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  align-items: center;
  justify-items: center;
}

.project-card {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--scheme-color-6);
  width: 100%;
  height: 100%;
  min-height: 200px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-odd);
  align-items: center;
}

.project-link {
  font-size: 1.5rem;
  /* font-weight: 500; */
  height: calc(100%);
  border-radius: 8px 8px 0px 0px;
}

.project-source {
  color: var(--scheme-color-6);
  width: 100%;
  text-align: center;
  border-radius: 0px 0px 8px 8px;
  height: 60px;
  border-top: 2px solid var(--scheme-color-1);
  background-color: #00000015;
}

.project-link,
.project-source {
  color: var(--scheme-color-6);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 150ms;
}

.project-link:hover,
.project-source:hover {
  background-color: var(--color-odd-hover);
}

.project-link:active,
.project-source:active {
  background-color: var(--color-odd-active);
}

.project-card:nth-child(2n + 2) {
  background-color: var(--color-even);
}

.project-card:nth-child(2n + 2) .project-link:hover,
.project-card:nth-child(2n + 2) .project-source:hover {
  background-color: var(--color-even-hover);
}

.project-card:nth-child(2n + 2) .project-link:active,
.project-card:nth-child(2n + 2) .project-source:active {
  background-color: var(--color-even-active);
}

i.description {
  font-size: 1rem;
}

@media only screen and (max-width: 600px) {
  .project-container {
    grid-template-columns: 1fr 1fr;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 96px;
  width: 100%;
  background-color: #242424;
}

.github-logo {
  width: 48px;
}

.linkedin-logo {
  width: 58px;
}

.github-logo,
.linkedin-logo {
  margin: 0px 24px;
}
