:root {
  box-sizing: border-box;
}

:root.dark {
  --scheme-color-1: #121212; /* main background color */
  --scheme-color-odd: #343843bb; /* card-odd background color */
  --scheme-color-even: #8e4c43bb;
  --scheme-color-3: #a87669bb; /* hover background color */
  --scheme-color-4: #b16d53aa; /* active background color */
  --scheme-color-5: #dacfc3; /* header text color */
  --scheme-color-6: #f6f5f1cb; /* card text color */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 18px;
  background-color: var(--scheme-color-1);
  color: var(--scheme-color-5);
  font-family: Arial, Helvetica, sans-serif;
}

header h1 {
  font-size: calc(1.5rem + 1vw);
  text-align: center;
  margin: 8px;
}

h2 {
  font-size: calc(1.1rem + 1vw);
}
a {
  text-decoration: none;
}
.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  align-items: center;
  justify-items: center;
}
.project-link {
  font-size: calc(1.1rem + 1vw);
  font-weight: 800;
  color: var(--scheme-color-6);
  height: 100%;
  min-height: 200px;
  width: 100%;
  padding: calc(6px + 1vw);
  border-radius: 8px;
  background-color: var(--scheme-color-odd);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 150ms;
}
.project-link:nth-child(2n + 2) {
  background-color: var(--scheme-color-even);
}
.project-link:hover {
  background-color: var(--scheme-color-3);
}

.project-link:active {
  background-color: var(--scheme-color-4);
}

i.description {
  font-size: 1rem;
}

@media only screen and (max-width: 600px) {
  .project-container {
    grid-template-columns: 1fr 1fr;
  }
}
