---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Robert Shepley">
	<main>
		<h1>Robert <span class="text-gradient">Shepley</span></h1>
		<p class="instructions">
			Welcome to my page!<br />
			Here are some of the projects I'm most proud of.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://github.com/coinfellows/client"
				title="Coin Fellows"
				body="A full-stack React application that allows users to view live cryptocurrency data and manage a personal watchlist."
			/>
			<Card
				href="https://github.com/ShepleySound/space-invaders"
				title="Space Invaders"
				body="A clone of the classic arcade game, built using pure HTML, CSS, and JavaScript."
			/>
			<Card
				href="https://github.com/ShepleySound/minimalist-thermostat"
				title="Minimal Thermostat"
				body="A super-simple thermostat card built for Home Assistant, a smart home management application."
			/>
			<Card
				href="https://github.com/ShepleySound/tunic-translator"
				title="Tunic Translator"
				body="A web app that helps to translate the written language of Tunic, an isometric game about a small fox on a big adventure."
			/>
			<Card
				href="https://github.com/ShepleySound/city-explorer"
				title="City Explorer"
				body="A simple application that allows for location search and displays information related to the location."
			/>
		</ul>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #21b0b8, #184d8f);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #385099;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
